/*==================================
        	Footer Styles 
==================================*/

// Modular media queries
@media #{$media-smartphone-portrait} {
}
@media #{$media-smartphone-landscape} {
}
@media #{$media-tablet-portrait} {
}
@media #{$media-tablet-to-desktop} {
}
@media #{$media-desktop} {
}