/*==================================
            Typography
==================================*/

// @include font-face('MyriadPro-Regular', 'MyriadPro-Regular', '0tf');
// @include font-face('ItaliaStd-Book', 'ItaliaStd-Book', 'otf');

h1, h2, h3, h4, h5, h6  {
    color: $color-heading;
    font-weight: bold;
}

p {
    color: $color-text;
}